$main-color: #5D6D1A;
$second-color: #BDE226;
$third-color: #171E0C;

$white: #fff;
$black: #202020; 
$orange: #F89718;

$grey-light1: #faf9f9;
$grey-light2: #f4f2f2;
$grey-light3: #f0eeee;
$grey-light4: #ccc;

$grey-dark1: #5a5a5a;
$grey-dark2: #444444;
$grey-dark3: #2e2e2e;

$title: #2D2D2D;
$text: #484847;
$light-text: #D6D6D6;

$link: #0175E6;
$btn: #F89718;

$success: #2ecc71;
$error: #D23337;
